body {
  background-color: rgb(246, 237, 246);
}

/* Home component css */
.home-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 210px;
}

.home-content {
  font-size: 20px;
  color: rgb(82, 79, 79);
}
/* Login component css*/
.container-login{
  background-color: white;
  margin:20px;
  padding: 20px;
  height: 500px;
  width: 300px;
}
/* Signup component css*/
.container-signup{
  background-color: white;
  margin:20px;
  padding: 20px;
  height: 550px;
  width: 350px;
  margin-left: 500px;
}
/* Gallery component css */
#photo-enlarge{
  cursor: pointer;
}
.cursor-pointer{
  cursor: pointer;
}