.App {
  text-align: center;
}

body {
  background-color: rgb(246, 237, 246);
}

/* Home component css */
.home-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 210px;
}

.home-content {
  font-size: 20px;
  color: rgb(82, 79, 79);
}